body{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(left,  #627d4d 0%, #1f3b08 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #627d4d 0%,#1f3b08 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #627d4d 0%,#1f3b08 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=1 ); /* IE6-9 */

}
div{
	width: 200px;
	height: 200px;
	padding: 10px;
	border: 2px double red;
	color: black;
}
.background_clip{
	background-color: yellow;
	background-clip: border-box;
}

.background_origin{
	background-image: url('gatos.jpg');
	background-repeat: no-repeat;
	background-color: black;
	background-origin: border-box;
}

.background_size{
	background-image: url('gatos.jpg');
	background-repeat: no-repeat;
	background-color: green;
	background-size: 100%;
}

.box-shadow{
	background-color: yellow;
	box-shadow:5px 5px 5px black, 0px 0px 18px blue inset;
	text-shadow: -15px -11px 0px red, 10px 10px 4px red;
	border-radius: 46px;
}
.transicao1{
	transition-property: width;
	transition-duration: 5s;
	transition-timing-function: linear;
	transition-delay: 0.5s;

	/*transition:width 5s linar 0.5s;*/
}

.transicao1:hover{
	width: 300px;
}

.transicao2{
	transition:width 5s linear 0.5s, height 4s linear;
}

.transicao2:hover{
	width: 300px;
	height: 300px;
}
.rotate{
	color: black;
	transform: rotate(10deg);
}
.translate{
	color: black;
	transform: translate(20px,10px);
}

.scale{
	color: black;
	transform: scale(1,1);
}

.skew{
	color: black;
	transform: skew(10deg ,10deg);
}

/*

1 scale horizontal
2 rotate
3 skew horizontal
4 scale vertical
5 translate horizontal
6 translate vertical

*/

.matrix{
	color: black;
	transform: matrix(1.0 ,0.8, 0, 1.0,20,40);
}

.rotate_x{
	color: black;
	transform: rotateX(180deg);
}

.rotate_y{
	color: black;
	transform: rotateY(180deg);
}

.rotate_z{
	color: black;
	transform: rotateZ(90deg);
}

.perspectiva_fora{
	position: relative;
	height: 150px;
	width: 150px;
	margin: 50px;
	padding: 10px;
	border: 1px solid red;
	perspective: 160px;
}
.perspectiva_dentro{
	width: 50px;
    height: 50px;
	padding: 48px;
	position: absolute;
	border: 1px solid red;
	background: black;
	transform: rotateX(45deg);
}

.backface_hidden{
	backface-visibility: hidden;
}

.backface_visible{
	backface-visibility: visible;
}

@-webkit-keyframes rodar{
	from{
		-webkit-transform:rotate(0deg);
	}

	to{
		-webkit-transform:rotate(360deg);
	}
}

@keyframes rodar{
	from{
		transform:rotate(0deg);
	}

	to{
		transform:rotate(360deg);
	}
}

.animation{
	-webkit-animation-name: rodar;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: lienar;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	/*-webkit-animation: rodar 1s linear infinite alternate;*/

	animation-name: rodar;
	animation-duration: 1s;
	animation-timing-function: lienar;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}